@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --color-brand-text: #6a5038; /* rosa escuro - textos de destaque, ícones, botões */
    --color-brand-muted: #c59e9b; /* rosa médio - textos secundários, descrições */
    --color-brand-bg: #f7ece3; /* rosa clarinho - fundo geral da página */

    --font-serif: "Playfair Display", serif;
    --font-sans: "Lato", sans-serif;
}